# Natives
a.out
*.o

# Rust
/rust/*
!/rust/*.rs

# Node.js
node_modules

# Python
*.pyc
.venv/

# Crystal
.crystal
# Nim
nimcache

# Java
*.class

# Haskell
/haskell/*
!/haskell/*.hs

# Idris
/idris/*
!/idris/*.idr
